
main {
    height: auto;
}


.scheduler_default_rowheader_inner
{
    border-right: 1px solid #ccc;
}
.scheduler_default_rowheader.scheduler_default_rowheadercol2
{
    background: #fff;
}
.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner
{
    top: 2px;
    bottom: 2px;
    left: 2px;
    background-color: transparent;
    border-left: 5px solid #1a9d13; /* green */
    border-right: 0px none;
}
.status_dirty.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner
{
    border-left: 5px solid #ea3624; /* red */
}
.status_cleanup.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner
{
    border-left: 5px solid #f9ba25; /* orange */
}

#manual-ajax {
    padding: 3px 10px;
    background-color: #1a9d13;
    color: black;
}

a {
    text-decoration: none;
}